body {
    height: 100%;
    background-color: #dbe6fd !important;
}

#log-reg-container {
    margin-top: 10%;
}

#theNavBar {
    background-color: #47597e !important;
}

.activeNavItem {
    background-color: #192339;
    border-radius: 10px;
}

.linkCard {
    text-decoration: none;
}

.linkCard .card {
    background-color: #bfc4cf;
    color: black;
    transition: 0.5s;
}

.linkCard .card:hover {
    background-color: white;
    border: 1px solid #293b5f;
}

.linkCard .card:active {
    color: red;
    border: 1px solid yellow;
}

.detailsBox {
    background-color: white;
    border: 1px solid #293b5f;
    border-radius: 10px;
}

.customFieldset {
    border: 1px solid #293b5f;
    background-color: white;
}

.customFieldset legend {
    float: none;
    padding: inherit;
}

.card{
    //border-radius: 10px;
}
//.card{
//    text-align: center;
//    min-height: 20vw;
//    min-width: 25%;
//    //min-width: 20rem;
//}
//
//.card-body{
//    margin: 0 auto;
//    vertical-align: center;
//    horiz-align: center;
//}

//.card-body h1{
//    font-size: 8vh;
//
//
//}
//
//@media (min-width:768px) {
//    .card-body h1{
//        font-size: 5vh;
//    }
//}
